html, body, #root {
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0px;
}

@media screen and (max-width: 480px) {
    .main-nav {
        display: flex;
        justify-content: center;
        background-color: #252525;
    }

    .main-nav-left {
        display: none;
    }

    .main-nav-right {
        display: flex;
        padding: 10px 5px;
    }

    .nav-action {
        margin: 5px 10px;
        font-size: .875rem;
        color: #ccc;
        font-weight: bold;
        cursor: pointer;
        transition: color 0.2s ease;
    }

    .nav-action:hover {
        color: #ff0000c0
    }

    /*-----------------------------*/

    .signup {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        background-image: url("../assets/gym-image.webp");
        background-size: cover;
    }

    .call-to-action {
        font-size: 1.5rem;
        text-align: center;
        text-shadow: 0 0 8px #000;
        color: #fff;
    }

    .join-button {
        border: none;
        padding: 10px 20px;
        font-size: 1rem;
        font-weight: bold;
        transition: border-radius 0.2s ease;
    }

    .join-button:hover {
        border-radius: 10px;
    }

    .membership-text {
        font-size: 1.25rem;
        text-align: center;
        text-shadow: 0 0 8px #000;
        color: #fff;
    }

    /*-----------------------------*/

    .location {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        background: linear-gradient(to right, #fd1515, #fd1515c0);
    }

    .location-h4 {
        margin: 10px 0px;
        text-align: center;
        color: #fff;
        font-size: 1rem;
    }

    .location-display {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }

    .location-h2 {
        margin: 10px 0px 5px 0px;
        text-align: center;
        color: #fff;
        font-size: 1.25rem;
    }

    .gym-location {
        font-weight: bold;
        cursor: pointer;
    }

    .gym-location:hover {
        border-bottom: 1px dashed #fff;
    }

    .edit-location-button {
        border: none;
        background-color: transparent;
        color: #fff;
        font-weight: bold;
        transition: color 0.2s ease;
    }

    .edit-location-button:hover {
        color: #eee;
    }

    .location-button-container {
        display: flex;
        justify-content: center;
    }

    .gym-details-btn {
        border: none;
        background-color: #fff;
        padding: 10px 20px;
        font-weight: bold;
        font-size: .75rem;
        transition: border-radius 0.2s ease;
        margin: 5px;
    }

    .gym-details-btn:hover {
        border-radius: 10px;
    }

    .join-btn {
        border: none;
        background-color: #fff;
        padding: 10px 20px;
        font-weight: bold;
        font-size: .75rem;
        transition: border-radius 0.2s ease;
        margin: 5px;
    }

    .join-btn:hover {
        border-radius: 10px;
    }

    /*-----------------------------*/

    .pricing-container {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    .pricing-option {
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #000;
        transition: border 0.2s ease, border-radius 0.2s ease;
    }

    .pricing-option:hover {
        border: 1px solid #ff0000c0;
        border-radius: 10px;
    }

    .per-month {
        font-size: 1rem;
        font-weight: 400;
    }

    .pricing-label {
        text-align: center;
    }

    .price {
        text-align: center;
        margin-bottom: 5px;
    }

    .package-items {
        list-style-type: none;
        padding-left: 0px;
    }

    .package-items li {
        text-align: center;
        margin: 5px 0px;
    }

    .pricing-button {
        display: block;
        width: 100%;
        border: none;
        background-color: #ff0000c0;
        color: #fff;
        font-size: 1rem;
        font-weight: bold;
        padding: 10px 20px;
        transition: border-radius 0.2s ease;
    }

    .pricing-button:hover {
        border-radius: 10px;
    }
}