:root {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    --color: #ccc;
}

html, body, #root {
    height: 100vh;
    margin: 0;
}

.main-nav {
    display: flex;
    background-color: #252525;
}

.main-nav-left {
    display: flex;
    padding-left: 20px;
}

.main-nav-right {
    display: flex;
    align-items: center;
    margin-left: auto;
    padding-right: 20px;
}

.nav-slogan {
    font-size: 1.25rem;
    color: var(--color);
    font-weight: bold;
    background-color: #252525;
    padding: 10px 20px;
    border-radius: 10px;
    transition: background-color 0.2s ease;
    cursor: pointer;
}

.nav-slogan:hover {
    background-color: #363636;
}

.nav-action {
    font-size: 1.25rem;
    color: var(--color);
    font-weight: bold;
    background-color: #252525;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 0px 10px;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
}

.nav-action:hover {
    background-color: #363636;
}

.nav-action-main {
    font-size: 1.75rem;
    color: var(--color);
    font-weight: bolder;
    margin: 0px 30px 0px 30px;
    transition: font-size 0.2s ease, color 0.2s ease;
    cursor: pointer;
}

.nav-action-main:hover {
    font-size: 2rem;
    color: red;
}

.signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../assets/gym-image.webp');
    background-size: cover;
    height: 600px;
}

.call-to-action {
    color: #fff;
    text-shadow: 8px 0 8px #0e0e0e;
    font-size: 6rem;
    text-align: center;
}

.join-button {
    padding: 20px 40px;
    font-size: 3rem;
    font-weight: bold;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 0px;
    box-shadow: 0 0 12px #000;
    transition: border-radius 0.2s ease;
    cursor: pointer;
}

.join-button:hover {
    border-radius: 20px;
}

.membership-text {
    color: #fff;
    text-shadow: 8px 0 12px #0e0e0e;
    font-size: 2rem;
    font-style: italic;
    text-align: center;
}

.location {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #ff0f0fe0, #af0000e0);
    padding: 20px;
}

.location-h4 {
    font-size: 1.25rem;
    color: #fff;
    margin-bottom: 0;
}

.location-h2 {
    font-size: 2rem;
    font-weight: 400;
    color: #fff;
}

.gym-details-btn {
    background-color: #fff;
    color: #000;
    font-size: 1rem;
    border: none;
    border-radius: 0px;
    padding: 20px 40px;
    font-weight: 500;
    margin-right: 5px;
    transition: border-radius 0.2s ease;
    cursor: pointer;
}

.gym-details-btn:hover {
    border-radius: 10px;
}

.join-btn {
    background-color: #fff;
    color: #000;
    font-size: 1rem;
    border: none;
    border-radius: 0px;
    padding: 20px 40px;
    font-weight: 500;
    margin-left: 5px;
    transition: border-radius 0.2s ease;
    cursor: pointer;
}

.join-btn:hover {
    border-radius: 10px;
}

.gym-location {
    padding-bottom: 5px;
    cursor: pointer;
    font-weight: bold;
}

.gym-location:hover {
    border-bottom: 2px dashed #fff;
}

.location-display {
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-location-button {
    margin-left: 10px;
    background-color: transparent;
    border: none;
    font-size: .875rem;
    color: #fff;
    font-weight: 300;
    text-align: center;
    cursor: pointer;
}

.edit-location-button:hover {
    color: #eeeeee
}

.pricing-container {
    display: flex;
    justify-content: center;
    background-color: #f8f8f8;
    padding: 20px;
}

.pricing-option {
    width: 200px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 20px;
    cursor: pointer;
    transition: border 0.2s ease;
    margin: 0px 30px;
}

.pricing-option:hover {
    border: 1px solid red;
}

.pricing-label {
    margin-bottom: 20px;
    text-align: center;
}

.price {
    margin-bottom: 10px;
    text-align: center;
}

.per-month {
    font-size: 1rem;
    font-weight: 400;
}

.package-items {
    list-style-type: none;
    padding-left: 0px;
    margin-bottom: 30px;
}

.package-items li {
    margin-bottom: 10px;
    text-align: center;
    color: #111111
}

.pricing-button {
    display: block;
    width: 100%;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    background-color: red;
    border: none;
    color: #fff;
    transition: border-radius 0.2s ease;
}

.pricing-button:hover {
    border-radius: 10px;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #252525;
    padding: 20px;
}

.copyright-text {
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: font-size 0.2s ease;
    text-decoration: none;
}

.copyright-text:hover {
    font-size: 1.125rem;
}